asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
coverage==7.6.1
dj-database-url==2.2.0
Django==5.1.1
django-cors-headers==4.4.0
django-guardian==2.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
et-xmlfile==1.1.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
numpy==2.1.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
psycopg2==2.9.9
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
whitenoise==6.7.0
